.bg-body-tertiary {
  /* border: 2px solid rgb(217, 96, 9); */
}

#navbarsection {
  /* border: 2px solid rgb(9, 217, 106)!important; */
  /* align-items: center; */
  gap: 20px;
  display: flex;
  /* margin-left: 800px; */

}
.logo {
  /* border: 2px solid rgb(14, 171, 189); */
  width: 400px;
  height: 350px;
}
.link-hedaer {
  text-decoration: none !important;
  color: black !important;
}
