.NavbarFromBootsTrap {
  /* border: 2px solid red !important; */
  /* margin-top: 30px; */
  /* background-image: url("/public/assets/peace-quotes-1555094093.jpg");
  background-repeat: no-repeat;
  background-position: center; */
  /* width: 1200px; */
  background-color: rgb(17, 183, 23);
}
.NavbarCollapse {
  /* border: 12px solid rgb(251, 255, 0) !important; */
  /* margin-left: 600px;
  max-width: max-content; */
  /* background-image: url("/public/assets/peace-quotes-1555094093.jpg");
  background-repeat: no-repeat;
  background-position: center; */
  background-color: rgb(17, 183, 23);
}
