/* footer */
.footer {
  /* border: 2px solid rgb(46, 210, 35); */
  background-color: hsl(192, 20%, 95%);
  /* color: #0a0a0a37; */
  /* background-image: url("/public/assets/dddd.jpg");
  background-repeat: no-repeat;
  background-position: center; */
  padding: 40px 0px 50px 0px;
  height: 70vh;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
.footerHome {
  /* border: 2px solid rgb(46, 210, 35); */
  width: 250px;
  cursor: pointer;
}
.footerProjects {
  /* border: 2px solid rgb(46, 210, 35); */
  width: 250px;
  padding: 20px;
  cursor: pointer;
}

.footerProjects h3 {
  /* border: 2px solid rgb(46, 210, 35); */
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}
.footerProjects p {
  /* border: 2px solid rgb(46, 210, 35); */
  color: #0a0a0a;
  font-size: 14px;
  /* text-decoration: none; */
}
.footerAbout {
  /* border: 2px solid rgb(46, 210, 35); */
  width: 250px;
  padding: 20px;
  cursor: pointer;
}
.footerAbout a {
  /* border: 2px solid rgb(46, 210, 35); */
  color: black;
}
.footerAbout h3 {
  /* border: 2px solid rgb(46, 210, 35); */
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}
.footerAbout p {
  /* border: 2px solid rgb(46, 210, 35); */
  color: #0a0a0a;
  font-size: 14px;
  /* text-align: none !important; */
}

.footerContacts {
  /* border: 2px solid rgb(46, 210, 35); */
  width: 250px;
  padding: 20px;
  cursor: pointer;
}
.footerContacts h3 {
  /* border: 2px solid rgb(46, 210, 35); */
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}
.footerContacts p {
  /* border: 2px solid rgb(46, 210, 35); */
  color: #0a0a0a;
  font-size: 14px;
}
.contactsSocial {
  display: flex;
  /* justify-content: center; */
  gap: 5px;
}
.contactsSocial a {
  text-decoration: none !important;
  color: #0a0a0a;
}
.link-footer {
  text-decoration: none !important;
}
